{% load jsonify %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Template for Bootstrap</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Tickets sold</h1>
      </div>

      <div class="row">
        <div class="col-md-3 text-center">
          <p class="lead">Registrations</p>
          <p style="font-size: 5em">
            {{ registrations.ok }}
            <small class="text-muted">(+{{ registrations.unpaid }})</small>
          </p>
        </div>
        <div class="col-md-3 text-center">
          <p class="lead" >Tickets</p>
          <p style="font-size: 5em">
            {{ tickets.ok }}
            <small class="text-muted">(+{{ tickets.unpaid }})</small>
          </p>
        </div>
        <div class="col-md-6 text-center">
          <p class="lead">SEK</p>
          <p style="font-size: 5em">{{ money.ok|intcomma }}
            <small class="text-muted">(+{{ money.unpaid|intcomma }})</small>
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 text-center">
          <canvas id="byDay" width="1100" height="400"></canvas>
          <script>
            //Get the context of the canvas element we want to select
            var ctx = document.getElementById("byDay").getContext("2d");
            var data = {
              labels : {{ by_day.labels|jsonify }},
              datasets : [
                { backgroundColor : "green",
                  data : {{ by_day.ok|jsonify }},
                  label: "ok"
                },
                { backgroundColor : "yellow",
                  data : {{ by_day.unpaid|jsonify }},
                  label: "unpaid"
                },
                { backgroundColor : "red",
                  data : {{ by_day.cancelled|jsonify }},
                  label: "cancelled"
                },
              ]
            };
            new Chart(ctx, {
              type: 'bar',
              data: data,
              options: { scales: { xAxes: [{ stacked: true }] } }
            });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
