{% extends "layout.html" %}

{% block "content" %}
  <h2>Confirmation required</h2>
  <p class="text-danger">You are going to cancel the following registration.
  Are you ABSOLUTELY sure?

  <p>Registration for {{ registration.contact_full_name }} including the
  following tickets:

  <ul>
    {% for ticket in registration.tickets.all %}
    <li>{{ ticket.name_on_badge }}
    {% endfor %}
  </ul>

  <form action="" method="POST">
    {% csrf_token %}
    <button id='btn-cancel' class="btn btn-default" name='action' value='cancel'>
      No, I want to keep my registration
    </button>
    <button id='btn-confirm' class="btn btn-danger" name='action' value='confirm'>
      I am sure, cancel my registration</button>

  </form>
{% endblock %}

