{% extends "layout.html" %}

{% block "content" %}
<div class="row">
  <div class="col-md-8">
    {% if purchase.cancelled %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <strong>Cancelled</strong>
      This registration has been cancelled.
    </div>
    {% else %}
    
    <p>Your ticket has been reserved. Please proceed with any of the payment
options below. We will reserve your ticket for up to one week awaiting
payment.</p>

    <h2>Payment</h2>
    <h3>Using bank transfer</h3>

    <p><strong>From Sweden:</strong> Transfer {{purchase.price}} SEK to Pulgiro
    <code>477884-1</code> or Bankgiro <code>311-5060</code>, add the reference
    number <code>{{purchase.ref}}</code> in the message of your transaction.

    <p><strong>From abroad:</strong> Transfer {{purchase.price}} SEK to IBAN
    <code>SE27 9500 0099 6026 0477 8841</code> (BIC: <code>NDEASESS</code>),
    add the reference number <code>{{purchase.ref}}</code> in the message of
    your transaction.

    <h3>Using bitcoin</h3>
    Transfer {{purchase.price}} SEK to <code>1CW9EUxrr3BULjcgG6Lc4ZUHahLSXUBSeU</code>, add the
    reference number <code>{{purchase.ref}}</code> in the message to your transaction.
    <h3>Using paypal</h3>
    Transfer {{purchase.price}} SEK to <code>paypal@fscons.org</code>, add the
    reference number <code>{{purchase.ref}}</code> in the message to your transaction.

    {% endif %}
  </div>


  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          Order summary
          {% if purchase.cancelled %}(<strong class="text-danger">CANCELLED</strong>){% endif %}
        </h2>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Name:
          <dd id="contact-name">{{ purchase.contact_first_name }} {{ purchase.contact_surname }}
          <dt>Email:
          <dd id="contact-email">{{purchase.contact_email}}
          <dt>I would like to get emails about future conferences...
          <dd id="contact-email">{{ purchase.contact_subscribe | yesno:"Yes,No" }}
        </dl>
      </div>
      <div class="list-group">
      {% for ticket in purchase.tickets.all %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Ticket {{forloop.counter}} <small>({{ticket.ticket_type}})</small></h4>
          <dl class="list-group-item-text">
            <dt>Name on Badge
            <dd id="ticket{{forloop.counter}}-name_on_badge">
              {{ticket.name_on_badge}}
            <dt>I identify my gender as...
            <dd id="ticket{{forloop.counter}}-gender">
              {{ ticket.get_gender_display | default:"<i>unspecified</i>" }}
            <dt>I have been to FSCONS before...
            <dd id="ticket{{forloop.counter}}-returning_visitor">
              {{ticket.get_returning_visitor_display | default:"<i>unspecified</i>" }}
          </dl>
        </div>
      {% endfor %}
      </div>
      {% if not purchase.cancelled %}
      <div class="panel-body text-right">
        <a class="btn btn-default" href="{% url 'edit' purchase.id %}"
           role="button" id="btn-edit">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          Edit
        </a>

        <a class="btn btn-danger" href="{% url 'cancel' purchase.id %}"
           role="button" id="btn-cancel">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Cancel
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
