{% extends "layout.html" %}

{% block "content" %}
{% if expiration_date %}
<div class="alert alert-warning" role="alert">
  <div class="row">
    <div class="col-md-1" style="font-size:2em" id="countdown">
    </div>
    <div class="col-md-9">
      Please complete registration within {{PREBOOKING_TIMEOUT}}:00 minutes.<br/>
      After {{PREBOOKING_TIMEOUT}}:00 minutes, the reservation we're holding will be released to others.
    </div>
  </div>
</div>
{% endif %}

<form role="form" action="" method="POST" style="background:#F8F8F8;padding: 1em" class="form-horizontal">
  {% csrf_token %}
  <fieldset><legend>Contact information</legend>
    {% include "bootstrap-form-group.html" with field=purchase_form.contact_first_name %}
    {% include "bootstrap-form-group.html" with field=purchase_form.contact_surname %}
    {% include "bootstrap-form-group.html" with field=purchase_form.contact_email %}
    {% with field=purchase_form.contact_subscribe %}
    <div class="form-group {% if field.errors%}has-error{% endif %}">
      <div class="col-sm-offset-5 col-sm-5">
        <div class="checkbox">
          <label for="{{ field.id}}">
            {{ field }} {{ field.label }}
          </label>
          {% for error in field.errors %}
          <span class="text-danger">{{ error|escape }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endwith %}
  </fieldset>
  {% for ticket_form in ticket_forms %}
    <fieldset>
      <legend>Ticket {{forloop.counter}} <small class="text-muted">({{ticket_form.instance.ticket_type}})</small></legend>
      {% include "bootstrap-form-group.html" with field=ticket_form.name_on_badge %}
      {% include "bootstrap-form-group.html" with field=ticket_form.email %}
      {% include "bootstrap-form-group.html" with field=ticket_form.gender %}
      {% include "bootstrap-form-group.html" with field=ticket_form.returning_visitor %}
    </fieldset>
  {% endfor %}
  <div class="control-group row">
    <button type="submit" class="btn btn-primary col-lg-6 col-md-offset-3"
            id="btn-checkout">
        Checkout
    </button>
  </div>
</form>

{% if expiration_date %}
<script type="text/javascript">
  $("#countdown")
    .countdown("{{expiration_date|date:"Y/m/d H:i:s"}}")
    .on('update.countdown', function(event) {
      $(this).text(event.strftime('%M:%S'));
    })
    .on('finish.countdown', function(event) {
      alert("You have exceeded the time limit and your reservation has been"
          +"released. You will now be redirected to the start page.");
      window.location.href = "{% url 'index' %}";
    });
</script>
{% endif %}
{% endblock %}
