{% extends "layout.html" %}

{% block "content" %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            {{error}}
    </div>
    {% endfor %}
<div class="row">
  <div class="col-md-6">

    <p>Join us during our two full days of talks and social events where you
    meet, greet, and share information in areas related to our three pillars:
    Society, Technology and Culture.

    <p>Celebrating our tenth anniversary, FSCONS 2016 will take place at
    <a href="https://www.marstrands.se/">Marstrands Havshotell</a>,
    beautifully situated on the west coast of Sweden.

    <p>As such, there will be a few differences to our usual conference.

    <ul>
      <li> There will be no tracks or themes, and no keynotes. Instead, we have
        invited 12 fantastic speakers. Some are among our favourites from
        previous conferences, some are people we have previously invited but
        that were unable to come before, and some are people doing new and
        exiting things.

      <li> The number of participants is limited to the number of rooms in the
        hotel, which is about 100. The participation fee will be somewhat
        higher than previous years. However, this price includes all meals and
        one night at the hotel, and corresponds to the actual cost per
        participant. As such, there will be no early bird tickets.

      <li> Depending on our luck in getting sponsors, we may be able to refund
        some of the costs for participants. We will put up an application form
        for this as the conference approaches and divide any surplus fairly
        among applicants.
    </ul>

    <p class="more"><strong>Free Society Conference and Nordic Summit</strong>
    FSCONS exists to provide a meeting place where subjects covering society,
    culture and technology can be discussed and brought to life in peer
    discussions, without being confined to each particular subject area. It should
    provide both the physical and virtual space where people, organisations and
    governments, with interest in the three subject areas can meet in a
    participatory and constructive dialogue. The unique combination of topics
    creates a platform where cross-pollination between the areas can occur, and
    where new co-operations and thoughts can emerge which allows the participants
    to find new inspiration even from areas outside of their own.

    <p>If you encounter any problems while registering, we would appreciate
    your feedback so that we can ensure that the problems are corrected. Please
    email info@fscons.org in this case, or if you wish to register in another
    way.
  </div>

  <div class=col-md-6>
    <form role="form" action="" method="POST" style="background:#F8F8F8;padding: 1em">
      {% csrf_token %}
      <fieldset><legend>FSCONS 2016 tickets</legend>
        <table class="table">
          <col width="40%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <thead>
            <tr>
              <th>Ticket type</th>
              <th>Sales end</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for type_ in form.ticket_types %}<tr>
              <td>{{ type_.name }}
                <spann class="help-block">{{type_.description}}</span>
              <td>{{ type_.sales_end }}
              <td>{{ type_.price }} SEK
              <td>
                {% if type_.available %}
                  <select name="quantity:{{ type_.id }}">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                {% else %}
                  <strong>Sold out</strong>
                {% endif %}
            <tr>{% endfor %}
          </tbody>
        </table>
      </fieldset>
      <div class="control-group row">
        <button type="submit" class="btn btn-primary col-lg-6 col-md-offset-3"
                id="btn-register">
            Register
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
