<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FSCONS 2016 Registration | FSCONS</title>

   <!-- Bootstrap compiled and minified CSS -->
   <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap-3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap-3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="{{ STATIC_URL }}jquery-3.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}jquery.countdown-2.2.0/jquery.countdown.min.js"></script>
</head>
<body>
<div id="wrap">
  <div class="wrapper container" id="main">
    <h1>FSCONS 2016 Registration</h1>
    {% for message in messages %}
    <div class="alert
      {% if 'info' in message.tags %}alert-info{% endif %}
      {% if 'success' in message.tags %}alert-success{% endif %}
      {% if 'warning' in message.tags %}alert-warning{% endif %}
      {% if 'error' in message.tags %}alert-danger{% endif %}
    ">
      {{ message | safe }}
    </div>
    {% endfor %}
    {% block "content" %}{% endblock %}
  </div>
  <footer class="container text-center" style="margin-top:3em">
    <hr />
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li><a href="https://fscons.org/">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            FSCONS 2016</a></li>
        <li><a href="mailto:info@fscons.org">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Contact us</a></li>
        <li><a href="https://gitlab.com/fscons/ticketshop/issues">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            Bugs / Feedback
        </a></li>
      </ul>
    </div>
  </footer>
</div>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
